<div class="chat-wrapper">

  <h2 class="chat-title">Chat Privado</h2>

  <div class="container-chat">

    <!-- LISTA DE CHATS -->
    <div class="lista-chat">
      <h3 class="subtitle-chat">Chats</h3>

      <ul class="lista-ul-chat">
        <li class="chat-item" 
            *ngFor="let c of chats" 
            (click)="seleccionarChat(c)">
          {{ c.participantes.join(', ') }}
        </li>
      </ul>
    </div>

    <!-- CHAT SELECCIONADO -->
    <div class="chat-box" *ngIf="chatSeleccionado">
      <h3 class="subtitle-chat">Mensajes</h3>

      <div class="mensaje" *ngFor="let m of chatSeleccionado.mensajes">
        <strong>{{ m.emisor }}:</strong> {{ m.texto }}
      </div>

      <input class="input-chat" [(ngModel)]="mensaje" placeholder="Escribe un mensaje">

      <button class="btn-chat" (click)="enviarMensaje()">Enviar</button>
    </div>

  </div>

</div> 