<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">¡Bienvenidos!</h1>
                                </div>
                                <div class="text-center">
                                    <p>Inicio de sesión</p>
                                </div>
                                <hr>
                                <form class="user" #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
                                    <div class="form-group">
                                        <input type="text"
                                            name="usuario"
                                            ngModel
                                            class="form-control form-control-user"
                                            placeholder="Escriba su usuario">
                                    </div>

                                    <div class="form-group">
                                        <input type="password"
                                            name="clave"
                                            ngModel
                                            class="form-control form-control-user"
                                            placeholder="Escriba su contraseña">
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Iniciar sesión
                                    </button>
                                    </form>

                                <hr>
                                <div class="text-center">
                                    <a class="small" href="register">¿Aún no tienes cuenta? Regístrate</a>
                                    <br>
                                    <a class="small" href="">Ir al inicio</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
