form {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 10px;
}

.card {
  padding: 15px;
  border: 1px solid #ddd;
  margin-top: 10px;
  border-radius: 8px;
}

button {
  padding: 8px;
  margin-top: 5px;
  cursor: pointer;
}

.eliminar {
  background: #ff4d4d;
  color: white;
}

.cancel {
  background: gray;
  color: white;
}
